* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --heading-text-color: darkblue
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: var(--heading-text-color);
    border-bottom: 2px solid black;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main p {
    padding: 1rem;
    margin: 1rem;
    width: 400px;
}



aside h2 {
    position: absolute;
    top: 35px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;

}

footer {
    margin-top: 20px;
    border-top: 2px solid gray;
    text-align: center;
}

/* Class selectors  */
.box {

    margin: 1rem;
    padding: 1rem;
    background-color: chocolate;
    color: var(--heading-text-color);

}

.grid{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
}
main {
    max-width: 840px;
    grid-column: 2/3;
    margin:1rem
}

aside {
    width: 400px;
    margin: auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1.5px;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}



